@inject IJSRuntime JSRuntime

<div class="my-component">
    <Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(3)" Delay="TimeSpan.FromSeconds(1)">
        <p>SOME TEXT FROM COMPONENT</p>      
    </Animate>
</div>

@code {
    
}
