
<div class="my-component">
    <Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(3)" Delay="TimeSpan.FromSeconds(1)">
        <p class="myp" id="myp">SOME TEXT FROM COMPONENT</p>      
        <p class="myp" id="myp">SOME TEXT FROM COMPONENT</p>      
        <p class="myp" id="myp">SOME TEXT FROM COMPONENT</p>      
    </Animate>
</div>

@code {
    
}
